.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.7rem;
    padding: 1rem;
    width: 30rem;
}

.input {
    border-radius: 0.4rem;
}

.btn {
    margin-left: auto;
}
